.image-field hr {
  display: none;
}

.image-field__container {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}

.image-field__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
}

.image-field__remove {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5px;
  right: 5px;
  text-decoration: none;
  color: white;
  background-color: red;
  text-align: center;
  font-size: 12px;
  &:hover {
    text-decoration: none;
    color: white;
  }
}