@import '../../../../node_modules/bootstrap/less/bootstrap';
@import '../../../../node_modules/font-awesome/less/font-awesome';
@import 'variables';
@import 'alertify';
@import 'tabs';
@import 'sidebar';
@import 'fancybox';
@import 'offcanvas';
@import 'image-field';

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.auth {
  padding-top: 50px;
}

.has-navbar {
  padding-top: 50px;
}

.main {
  min-height: 1100px;
  padding-top: 25px;
  padding-bottom: 25px;
  position: static;
  @media (min-width: @screen-sm-min) {
    min-height: 0;
    padding: 25px;
  }
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  a:hover { text-decoration: none; }
}

.switch {
  font-size: 20px !important;
  color: @brand-primary;
}
.switch.fa-toggle-off {
  color: @gray-light;
}

.tab-content { padding-top: 15px; }

.btn-toolbar { margin-bottom: 20px; }

.btn-add,
.btn-back {
  font-size: 36px;
  line-height: 1.1;
  margin-right: 10px;
  float: left;
}

.table .actions {
  min-height: 20px;
}

.table .actions span {
  display: none;
}

.table tr:hover .actions span {
  display: block;
}

.pagination {
  margin: 0 0 20px;
  display: block;
}

.action-bar {
  margin-bottom: 20px;
}

.checkbox.form-group {
  margin-bottom: 20px;
}

textarea {
  min-height: 100px;
}

.dashboard .stat {
  text-align: center;
}

.dashboard .stat h2 {
  margin: 0;
  font-size: 36px;
}

.dashboard .progress {
  margin: 0;
}

.featured {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      .product {
        position: relative;
        border: 1px solid #ccc;
        background-size: cover;
        background-position: center;
        padding-bottom: 100%;
        .remove {
          position: absolute;
          top: 10px;
          right: 10px;
          background-color: rgba(0, 0, 0, 0.7);
          padding: 2px 5px;
          display: none;
          a {
            color: #FFFFFF;
          }
        }
        .name {
          position: absolute;
          bottom: 10px;
          left: 10px;
          right: 10px;
          span {
            background-color: rgba(0, 0, 0, 0.7);
            padding: 2px 5px;
            a {
              color: #FFFFFF;
            }
          }
        }
        &:hover {
          .remove {
            display: block;
          }
        }
      }
    }
  }
}