@offcanvas-width: 300px;
@media screen and (max-width: 767px) {
    .row-offcanvas-left {
        left: 0;
    }
    .row-offcanvas-left .sidebar-offcanvas {
        left: -@offcanvas-width;
    }
    .sidebar-offcanvas {
        position:  absolute;
        top: 0;
        padding-left: 0;
        with: @offcanvas-width;
    }
}
